<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-orange-400 text-2xl mb-6">
        DeSci <span class="text-gray-800 font-bold tracking tracking-widest">En Bogotá</span>
      </h1>
      <h2 class="font-bold tracking-widest text-4xl">
        Descentralizando la ciencia...
      </h2>
      <span class="content__container block font-light text-browngray text-2xl my-6">
        <ul class="content__container__list">
          <li class="content__container__list__item xl:pl-3">Acceso Abierto</li>
          <li class="content__container__list__item xl:pl-3">Impacto</li>
          <li class="content__container__list__item xl:pl-3">Financiación</li>
          <li class="content__container__list__item xl:pl-3">Tenencia y Desarollo de PI</li>
          <li class="content__container__list__item xl:pl-3">Datos</li>
          <li class="content__container__list__item xl:pl-3">Resistencia a la Censura</li>
          <li class="content__container__list__item xl:pl-3">Participación Internacional</li>
        </ul>
      </span>
      <p class="font-bold tracking-widest text-4xl">...Empoderamos Investigadores</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/undraw_alien_science.svg" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-orange-400 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#about">
    DeSci Bogotá 2024
  </a>
</div>
