<h1>Our Team</h1>

<section class="team-member p-4 bg-gray-100 rounded shadow">
  <img src="{{ data.team[0].photo }}" alt="{{ data.team[0].name }}" class="rounded-full mx-auto mb-4">
  <h3>{{ data.team[0].name }}</h3>
  <p class="text-gray-600">{{ data.team[0].title }}</p>
  <p>{{ data.team[0].bio }}</p>
</section>

